[submodule "lab2/Exercise2-1-ros-container"]
	path = lab2/Exercise2-1-ros-container
	url = https://github.com/CMPUT412-Exercise2-Leen-Tianming/Exercise2-1-ros-container.git
	branch = part2
[submodule "lab2/BagAnalyzer"]
	path = lab2/BagAnalyzer
	url = https://github.com/CMPUT412-Exercise2-Leen-Tianming/BagAnalyzer.git
	branch = main
[submodule "lab3/AdvancedARExercise"]
	path = lab3/AdvancedARExercise
	url = https://github.com/CMPUT412-Friday-Lab-Team/AdvancedARExercise.git
[submodule "lab3/E3P3Transform"]
	path = lab3/E3P3Transform
	url = https://github.com/KarlHanEdn/E3P3Transform.git
[submodule "E4Tailing"]
	path = E4Tailing
	url = https://github.com/CMPUT412-Friday-Lab-Team/E4Tailing.git
[submodule "E5ML"]
	path = E5ML
	url = https://github.com/CMPUT412-Friday-Lab-Team/E5ML.git
[submodule "cmput412_tur4l"]
	path = cmput412_tur4l
	url = https://github.com/Tur4L/cmput412_tur4l.git
[submodule "final_project/Pj412"]
	path = final_project/Pj412
	url = https://github.com/CMPUT412-Friday-Lab-Team/Pj412.git
[submodule "final_project/ObjectDetection"]
	path = final_project/ObjectDetection
	url = https://github.com/CMPUT412-Friday-Lab-Team/ObjectDetection.git
